# ===========================
# Build Output (intermediary)
# ===========================
Output/

# Exclude all EXE files
*.exe

# ===========================
# Security / Private Keys
# ===========================
*.pfx
*.pvk
*.p12

# ===========================
# Logs & Temp
# ===========================
*.log
*.txt
*.tmp

# ===========================
# Legacy / Backup Folders
# ===========================
old/
new/
backup/

# ===========================
# OS & Editor
# ===========================
Thumbs.db
Desktop.ini
.DS_Store
*.swp
*.swo
*~
.vscode/
.idea/
